body
 {
    background-image: url('portrait-3113651_1920.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment:fixed;
    height: 100vh;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0%;
}

header {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    position: relative;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}

nav {
    position: absolute;
    top: 10px;
    right: 10px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display:inline-block;
    margin-right: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.header-image {
    max-width: 100%;
    height: auto;
    margin: 20px 0;
    font-size: 24px; /* Increase font size */
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.gallery-item {
    margin: 10px;
}

.artisan-story {
    padding: 20px;
}
